// importa tipografía desde google fonts
@import url("https://fonts.googleapis.com/css?family=PT+Sans");

// asigna la tipografía por defecto
$font-family-sans-serif: "PT Sans", sans-serif;

// modifica los colores por defecto
$green: #41b883;
$red: #ce679b;
$blue: #7952b3;
